.cart {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    strong {
      font-weight: bold;
    }

    & + .cart__row {
      margin-top: 0.5rem;
    }
  }
}
