.space-y-1,
.space-y-2,
.space-y-3,
.space-y-4 {
  display: flex;
  flex-direction: column;
}

.space-y-1 {
  gap: 1rem;
}

.space-y-2 {
  gap: 2rem;
}

.space-y-3 {
  gap: 3rem;
}

.space-y-4 {
  gap: 4rem;
}
